<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- <link rel="shortcut icon" href="about:blank"> -->
    <style>
        .navbar a{
            color: azure !important;
        }
    </style>

</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
        <div class="container">
            <a class="navbar-brand" href="/">cmsShoppingCart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="nav-link">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link active" href="/products">Products</a>
                    </li>

                    <% page.forEach((p)=>{%>

                        <li class="nav-link text-capitalize">
                            <a class="nav-link active" aria-current="page" href="/<%= p.title %>">
                                <%=p.title%>
                            </a>
                        </li>

                    <% }) %>

                </ul>
                <div class="navbar-nav ms-auto">
                    <!-- <a href="/all/mycart" class="nav-link">My cart</a> -->
                    <% if(typeof carts !== "undefined" ){ %>
                        <a href="/all/mycart" class="nav-link">My cart(<%=carts.length %>)</a>
                        <% } else{ %>
                            <a href="/" class="nav-link">My cart(0)</a>
                            <% } %>

                                <% if(!currentUser) {%>
                                    <a href="/users/login" class="nav-link">Login</a>
                                    <a href="/users/register" class="nav-link">Register</a>
                                <% }else{ %>
                                        <a href="/users/logout" class="nav-link">Logout</a>
                                <% } %>
                </div>
            </div>
        </div>
    </nav>