<%- include("./layouts/header");-%>

    <div class="container my-3">
        <% page.forEach((p)=>{%>
    
            <% if(p.title == title ) {%>
    
                <p>
                    <%= p.content %>
                </p>
    
                <% } %>
        <% }) %>
    </div>

<%- include("./layouts/footer");-%>