body
{
    background: url('/images/bg-1.jpg') no-repeat center center/cover;
}

main.container
{
    margin-top: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: rgba(216, 198, 198, 0.7);
}